services:
  nextjs:
    build: .
    container_name: nextjs_app
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - kappa_data:/app/data

volumes:
  kappa_data:
    
      